[submodule "vendor/extlib"]
	path = vendor/extlib
	url = git://github.com/datamapper/extlib.git
[submodule "vendor/media-path"]
	path = vendor/media-path
	url = git://github.com/botanicus/media-path.git
[submodule "vendor/rack"]
	path = vendor/rack
	url = git://github.com/rack/rack.git
[submodule "vendor/rspec"]
	path = vendor/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/thor"]
	path = vendor/thor
	url = git://github.com/wycats/thor.git
[submodule "vendor/erubis"]
	path = vendor/erubis
	url = git://github.com/genki/erubis.git
[submodule "vendor/cli"]
	path = vendor/cli
	url = git://github.com/botanicus/cli.git
[submodule "vendor/rubyexts"]
	path = vendor/rubyexts
	url = git://github.com/botanicus/rubyexts.git
[submodule "vendor/simple-templater"]
	path = vendor/simple-templater
	url = git://github.com/botanicus/simple-templater.git
