<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Page Not Found</title>
  </head>
  <body>
    <h1>Page Not Found</h1>
    <h2>Routes</h2>
    <% unless @routes.empty? %>
      <ul>
        <li>
          <% @routes.each do |route| %>
            <%= route.match_pattern.inspect %>
            <%= route.match_params.inspect if route.match_params %>
          <% end %>
        </li>
      <% else %>
        Any route is defined. Please edit your <code><%= @router %></code>.
      <% end %>
    </ul>
  </body>
</html>