<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>500 Internal Server Error</title>
    <style type="text/css" media="screen">
      pre { background: #111122; padding: 10px; color: #228822; }
      .ruby .normal { color: #fff; }
      .ruby .comment { color: #005; font-style: italic; }
      .ruby .keyword { color: #A44; font-weight: bold; }
      .ruby .method { color: #44f; }
      .ruby .class { color: #0c4; }
      .ruby .module { color: #050; }
      .ruby .punct { color: #668; font-weight: bold; }
      .ruby .symbol { color: #ff0; }
      .ruby .string { color: #4f4; }
      .ruby .char { color: #F07; }
      .ruby .ident { color: #fff; }
      .ruby .constant { color: #0c4; }
      .ruby .regex { color: #B66; background: #FEF; }
      .ruby .number { color: #F99; }
      .ruby .attribute { color: #fc4; }
      .ruby .global { color: #7FB; }
      .ruby .expr { color: #227; }
      .ruby .escape { color: #277; }
    </style>
  </head>
  <body>
    <h1><span style="color:red">500</span> Internal Server Error</h1>

    <% unless @params.nil? %>
      <h2>Params</h2>
      <%= @params.inspect %>
    <% end %>
    
    <h2>Backtraces</h2>
    <% unless @traces.empty? %>
      <ul>
        <li>
          <% @traces.each do |trace| %>
            <%= trace.match_pattern.inspect %>
          <% end %>
        </li>
      <% else %>
        Any backtraces found. Try to disable filtering.
      <% end %>
    </ul>
  </body>
</html>